In [7]:
import glob
import os
import pandas as pd

In [28]:
storage_path = "data/mmmkosice/html/"
htmls = sorted(glob.glob(os.path.join(storage_path, "*")))

In [30]:
dfs = []
for file in htmls:

    year = int(os.path.basename(file).split(".")[0])

    df = pd.read_html(file, match="Priezvisko")
    assert len(df) == 2

    df[0]['Rocnik'] = year
    df[0]['Gender'] = "M"
    df[1]['Rocnik'] = year
    df[1]['Gender'] = "F"

    dfs.append(df[0])
    dfs.append(df[1])
dfs = pd.concat(dfs)

/tmp/ipykernel_55164/1806253220.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfs = pd.concat(dfs)

In [37]:
print("Total starts:", len(dfs))

Total starts: 46894

In [38]:
print("DNFS: ", sum(dfs['Cieľ. čas']=="DNF"))

DNFS:  3243

In [43]:
duplicates = dfs.duplicated(["Priezvisko", "Meno", "Rok nar."])
n_returned_starts = sum(duplicates)
n_first_timers = len(dfs) - n_returned_starts
print(f"First timers {n_first_timers}, returned: {n_returned_starts} ")

First timers 20669, returned: 26225

In [49]:
finishers = dfs.query('`Cieľ. čas` != "DNF"')
unique_finishers = (~finishers.duplicated(
    ["Priezvisko", "Meno", "Rok nar."]))
sum(unique_finishers)

19586

In [52]:
finishers_sk = dfs.query('`Cieľ. čas` != "DNF" and `Štát`=="SVK"')
unique_finishers_sk = (~finishers_sk.duplicated(
    ["Priezvisko", "Meno", "Rok nar."]))
sum(unique_finishers_sk)

8504

In [66]:
states = dfs[~dfs.duplicated(
    ["Priezvisko", "Meno", "Rok nar."])].groupby("Štát").size().to_frame("size").sort_values("size", ascending=False)
states.head(20)

           size
Štát
SVK        8211
TCH (SVK)  3104
TCH (CZE)  1933
POL        1623
CZE        1394
HUN        1082
GDR (GER)   397
GBR         261
UKR         234
GER         187
KEN         153
FRA         153
FIN         142
USA         131
RUS         123
AUT         102
ETH          95
NED          84
SRB          77
ITA          77